~*
*~
_*
*#
.#*

*.bk*
*.swp
.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Makefile
bin
dist
coverage.txt

# IntelliJ
*.iml
.idea

# VSCode
.vscode

accounts/testdata/keystore/accounts.db
